 				<div class="media">
				  <div class="media-left">
				      <%=image_tag("guy.png")%>
				  </div>
				  <div class="media-body">
						 <h1>  Report Before Blame - User Guide </h1>
	           <p style="color: grey;">Get involved in the project, help your team, be the hero that they need</p>
				  </div>
			 </div>

       <h3><b><i class="fa fa-edit fa-fw"></i> Be clear</b></h3>
       <p>Explain the bug that you found or make suggestion. Need at least <b>15 words</b> to be a valid report (<i>Less than 15 words is not a report</i>).
       </p>
       <p><i class="fa fa-check fa-fw"></i> Especify the <b>priority</b>: <span id="priority" class="label label-danger">High</span>
       <span id="priority" class="label label-warning">Medium</span>
       <span id="priority" class="label label-success">Low</span></p>

       <p><i class="fa fa-check fa-fw"></i> Especify the <b>type</b>: <span id="priority" class="label label-info">Interface</span>
       <span id="priority" class="label label-info">Security</span>
       <span id="priority" class="label label-info">Feedback</span>
       <span id="priority" class="label label-info">Other</span></p>

			 <%=image_tag("user1.png", class: "img_guide")%>

 			 <h3><b><i class="fa fa-dashboard fa-fw"></i> Be effective</b></h3>
 			 <ul class="list-group">
 					<li class="list-group-item"><i class="fa fa-check fa-fw"></i> The aim of a bug report is to let the programmer see the failure itself.</li>
 					<li class="list-group-item"><i class="fa fa-check fa-fw"></i> Give them detailed instructions so that they themselves can make it fail. </li>
 					<li class="list-group-item"><i class="fa fa-check fa-fw"></i> It describes everything in detail what you saw and what you expected to see. Notes error messages .</li>
 					<li class="list-group-item"><i class="fa fa-check fa-fw"></i> Try to diagnose the problem yourself if you think you can , but if you do, also reported symptoms also .</li>
 					<li class="list-group-item"><i class="fa fa-check fa-fw"></i> Write clearly. Say what you mean, and make sure you can not misunderstand.</li>
 					<li class="list-group-item"><i class="fa fa-check fa-fw"></i> Be precise. Programmers like precision.</li>
 				</ul>
  			<blockquote>
  			  <p>"We can not solve problems using the same thinking we used when we created them "</p>
  			  <footer>Albert Einstein.</footer>
  			</blockquote>
